apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
data:
  postgres-password: {base64-text} # ${PASS}
  postgres-db: {base64-text} # ${DB}
  database-dsn: {base64-text} # postgres://postgres:${PASS}@service-postgres:5432/${DB}